---
import LoadingScreen from "../components/ui/LoadingScreen";
import "../styles/global.css";
---

<div class="w-full h-screen bg-black overflow-hidden relative">
  <LoadingScreen client:load />
</div>
